.booking-form {
	width: 50%;
	margin: 2rem auto;
	padding: 3rem;
	background-color: var(--color-primary-green);
	border-radius: 10px;
}

.booking-form label {
	display: block;
	color: #ccc;
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: 0;
}

.booking-form input,
.booking-form select {
	height: 2rem;
	margin-bottom: 1.5rem;
	border: 1px solid #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 100%;
    color: var(--color-secondary-black);
    font-size: 1rem;
}

.booking-form button[type='submit'] {
	padding: 10px;
	background-color: var(--color-primary-yellow);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.booking-form button[type='submit']:hover {
	background-color: var(--color-secondary-grey);
}
