.hero-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	/* max-width: 1200px; */
	margin: 0.5rem auto;
	gap: 2rem;
	background-color: var(--color-primary-green);
	border-radius: 0.5rem;
}

.hero-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.hero-content h2 {
	/* font-size: 1.5rem; */
	margin-bottom: 0.5rem;
	color: var(--color-primary-yellow);
}

.hero-content h3 {
	/* font-size: 1.2rem; */
	margin: 0rem;
	color: var(--color-secondary-grey);
}

.hero-content p {
	/* margin-bottom: 1rem; */
	/* line-height: 1.6; */
	color: var(--color-secondary-grey);
	max-width: 500px;
}

.hero-content button {
	background-color: var(--color-primary-yellow);
	color: var(--color-secondary-black);
	border: none;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 16px;
	cursor: pointer;
	margin-top: 0.5rem;
	transition: background-color 0.3s;
	font-size: 20px;
}

.hero-content button:hover {
	background-color: var(--color-secondary-grey);
}

.hero-selection-banner-img {
	flex: 1;
	max-width: 400px;
	height: 15rem;
	border-radius: 16px;
	object-fit: cover;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
	.hero-section {
		flex-direction: column;
		padding: 1.5rem;
	}

	.hero-content {
		order: 2;
		align-items: center;
		text-align: center;
		margin-top: 1.5rem;
	}

	.hero-selection-banner-img {
		order: 1;
		max-width: 100%;
		max-height: 15rem;
	}
}
